
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	/*background: #aaa;*/
}
.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	background:url(../../images/top_arrow.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 13px;
}
#mcs_container{ width:290px; height:380px; float:left; background:#FFFFFF; border:5px solid #FFFFFF}
a.jScrollArrowUp:hover {
	/*background-color: #fff;*/
}

a.jScrollArrowDown {
	background:url(../../images/down_arrow.png) 0 2px no-repeat;
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #fff;*/
	height: 13px;
}
a.jScrollArrowDown:hover {
	/*background-color: #fff;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #fff;*/
}